{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block page_content %}


    <div class="login-register-div">
        <div class="login-register-box">
                    <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              Log in
            </h2>
          </div>
        </div>
            <div align="center">
                <form method="post" action="{% url 'log in' %}">
                    <div class="contact_form-container">
                        <div>
                            {{ form|crispy }}

                            {% csrf_token %}
                            <button type="submit">
                                Log in
                            </button>

                        </div>
                    </div>

                </form>

                {#            <form method="post" action="{% url 'log in' %}" >#}
                {#                {{ form.as_p }}#}
                {#                <input type="hidden" name="next" value="{{ next }}">#}
                {#                <button type="submit">Log in</button>#}
                {#                {% csrf_token %}#}
                {#            </form>#}

            </div>
            <div align="center"><div class="second-option">
                <p>Don't have account? <a href="{% url 'sign up' %}">Register</a></p>
            </div>
                </div>

    </div>
{% endblock %}