{% extends 'base.html' %}

{% load placeholders %}

{% block page_content %}
    <div class="login-register-div">
    <div class="login-register-box">

    <div align="center">
        <form method="post" action="{% url 'sign up' %}">
            <div class="contact_form-container">
                <div>
                    {{ form.email|placeholder:'Email: ' }}
                    {{ form.password1|placeholder:'Password: ' }}
                    {{ form.password2|placeholder:'Repeat password: ' }}
                    {% if form.errors %}
                        <ul>
                            {% for field in form %}
                                <li>{{ field.errors }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    <button type="submit">
                        Register
                    </button>

                </div>
            </div>
        </form>
        <div>
        </div>
        <div class="second-option">

            <p>Have an account? <a href="{% url 'log in' %}">Log in</a></p>
        </div>
    </div>


{% endblock %}

