{% extends 'base.html' %}
{% load static %}
{% block page_content %}


  <!-- fruit section -->

  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
            Landscapes
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
      {% if not landscapes_products %}
              <h2>
          No paintings!
        </h2>
      {% else %}
          {% for product in landscapes_products %}
        <div class="box">
          <img src="{{ product.product_image.url }}" alt="">
          <div class="link_box">
            <h5>
                {{ product.name }}
            </h5>
            <a href="{% url 'product details' pk=product.pk %}">
              Details
            </a>
          </div>
        </div>
          {% endfor %}
      {% endif %}

      </div>
    </div>
  </section>

  <!-- end fruit section -->

 {% endblock %}
