{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CarCollection</title>
</head>

<body>


    <!-- details section -->
    <section id="car-details">
        <h1>Painting Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- car image -->
                <img class="car-img"
                     src="{{ product.product_image.url }}"
                     alt='car image'/>
                <!-- type and model -->
                <h1>{{ product.name }}</h1>
                <!-- car model -->
{#                <p><span class="description">by {{ owner_name }}</span></p>#}
                <p><span class="description">Category: {{ product.category }}</span></p>
                <p><span class="description">Description: {{ product.description }}</span></p>
                <p><span class="description">Size: {{ product.size }}</span></p>
                <p><span class="description">Materials used: {{ product.used_materials }}</span></p>
                <!-- car year -->
{#                <p><span class="description">Year: {{ car.year }}</span></p>#}
{#                <!-- car price -->#}
                {% if product.location %}
                <p><span class="description">Location: {{ product.location}} </span></p>
                {% endif %}
                <p><span class="description">Price: {{ product.price|floatformat:2 }} BGN</span></p>
            </div>


            <!-- Edit/Delete buttons -->
            <div class="buttons">
                {% if product_owner %}
                    <a href="{% url 'product edit' pk=product.pk %}" class="edit-button">Edit</a>
                    <a href="{% url 'product delete' pk=product.pk %}" class="delete-button">Delete</a>
                {% else %}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'order product' pk=product.pk %}" class="delete-button">Buy</a>
                    {% else %}
                        <div class="alert alert-warning">
                        Sign up or sign in to order the product
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>

</body>
</html>

{% endblock %}