{% extends 'base.html' %}

{% load placeholders %}

{% block page_content %}
    <div class="login-register-div">
        <div class="login-register-box">
        <h3>Enter information for your order</h3>
            <form method="post">
              <div class="contact_form-container">
                <div>
                    {{ form.customer_first_name|placeholder:'First Name: ' }}
                    {{ form.customer_last_name|placeholder:'Last Name: ' }}
                    {{ form.country|placeholder:'Country: ' }}
                    {{ form.city|placeholder:'City: ' }}
                    {{ form.street|placeholder:'Street: ' }}
                    {{ form.zip|placeholder:'Postal code: ' }}
                    {% csrf_token %}
                    <button type="submit">
                      Order
                    </button>

                </div>
              </div>
            </form>
         </div>

    </div>


{% endblock %}

